{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}


{% block body %}
    <h1>Users index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Adresse</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.IsVerified}}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.image }}</td>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">Voir Profil</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>
                    <a href="{{ path('users_delete', {'id': user.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
